@media (min-width:200px) and (max-width:752px){
 
    *{  color: black;
        margin: 0px;}
     header{display: flex;
        justify-content: center;
        width: 1040;
        height: 500px;}
       body{color: white;
        background: url(otimizado/background/cenario-texturizado-de-parede-de-concreto-solido\ 1.jpg);}
     main{width: 100%;
        display: block;
        background-color: white;}
        #logo{
        position: absolute;
        top: 10px;
        left: 16.5vw;
        }
      header >  span p{position: absolute;
         font-size: 20px;
         display: none;
         top: 40px;
         left: 30.5vw;
        }
         
            li{display:none;
            }
           
            .propaganda{
                display: none;
            }
            span{text-align: end;}
            .relogio{
             padding: 15px;
             border-radius: 13px;
             background-color: rgba(22, 22, 22, 0.774);
             border: 1px solid white;
             position: absolute;
             top: 100px;
             right: 5px;
            }
            .relogio > img{
             display: none;
            }
 
            h4{ 
                width: 80px;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                width: 80px;
                text-align: end;
                border-bottom: 2px solid orange;
            } 
            
            ul{ width: 95%;
                margin-left: 100px;
            }
            h1{color: darkgray;
                font-size: 30px;
                font-family: Arial, Helvetica, sans-serif;
                text-shadow: 2px 5px 5px black;
            position: absolute;
            text-align: initial;
            top: 250px;
            left:10vw;
            
    
    }a{color: black;
    text-decoration: none;}
    
    strong{color:orange;}
    @keyframes mover {
        0%{
        transform: rotate(0);
        }
        100%{
            transform:rotate(360deg);
            }
    }
    
 
  }
  footer{
    margin-top: 100px;
  }
  footer p{
    padding: 5px;
    text-align:center;
    height: 100px;
    font-size: 20px;
    background-image: linear-gradient(to bottom, white , black);
    color: black;
    font-style: italic;  }